<%= form_with model: allergen, data: { turbo: false }, class: "shadow-md rounded-[3px] px-6 pt-4 pb-8 mb-4 dark:shadow-white/25" do |f| %>
  <% if @allergen.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-[3px] mb-8">
      <h2 class='font-bold mb-2'><%= pluralize(@allergen.errors.count, "error") %>
        prohibited this allergen from being saved:</h2>
      <ul class="list-disc ml-5">
        <% @allergen.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group mb-8">
    <%= f.label :name, "Nome",class: "block text-gray-700 font-bold mb-2 dark:text-gray-200" %>
    <%= f.text_field :name, class: "dark:text-gray-800 form-input mt-1 block w-full rounded-[3px] border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>
  <div class="form-group mb-8" data-controller="file-input">
    <%= f.label :icon, "Foto", class: "block text-gray-700 font-bold mb-2 dark:text-gray-200" %>
    <div class="relative">
      <div class="flex items-center justify-between bg-white border border-gray-300 rounded-[3px] px-4 py-2 w-full overflow-hidden">
        <span data-file-input-target="fileName" class="text-gray-400">Seleccione un archivo</span>
        <button type="button" class="text-blue-500">Examinar</button>
      </div>
       <%= f.file_field :icon, class:"dark:tex t-gray-800 absolute inset-0 opacity-0 cursor-pointer w-full h-full dark:placeholder:text-gray-800", data: { action: "change->file-input#updateFileName",file_input_target: "fileInput" } %>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <%= f.submit "Gardar", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-[3px] focus:outline-none focus:shadow-outline-blue focus:ring ring-blue-300 focus:border-blue-300 active:bg-blue-800" %>
  </div>
<% end %>
