<div class="flex justify-between w-[90%] h-24 mx-auto border-t align-middle relative product-item" data-product-title="<%= product.title.downcase %>" data-special_menu-search-target="item">
    <p class="max-w-[75%] self-center flex flex-col gap-2 text-lg font-medium">
        <%= truncate(product.title, length: 30, separator: " ", omission: "...") %>
    </p>
    <p class="self-center">
        <%= turbo_frame_tag "product_active_#{product.id}" do %>
            <%= link_to "🔴", toggle_active_path(product_id: product.id), class: "no-underline select-none text-xl", data: { turbo_method: :post } if !product.active %>
            <%= link_to "🟢", toggle_active_path(product_id: product.id), class: "no-underline select-none text-xl", data: { turbo_method: :post } if product.active %>
        <% end %>
    </p>
    <div class="absolute flex gap-2">
        <%= button_to "Editar", edit_product_path(product), data: { turbo: false }, class: "dark:text-blue-200 text-xs font-thin text-blue-800 p-0", method: :get %>
        <%= button_to "Eliminar", product_path(product), data: { turbo_confirm: "Seguro que queres eliminar o producto?" }, class: "dark:text-red-200 text-xs font-thin text-red-800 p-0", method: :delete %>
    </div>
</div>
