<div class="w-full max-w-2xl p-3" data-controller="special_menu-search">
  <div class="flex justify-center">
    <%= link_to "+", new_special_menu_path, class: "bg-blue-500 hover:bg-blue-700 text-white text-2xl font-bold px-3 py-1 rounded-full focus:outline-none focus:shadow-outline-blue focus:ring ring-blue-300 focus:border-blue-300 active:bg-blue-800" %>
  </div>
  <div id="specialMenuList" class="flex flex-col gap-3">
    <% @special_menus.each do |special_menu| %>
        <%= turbo_stream_from special_menu %>

      <div class="special_menu flex flex-col border border-gray-200 rounded p-2 shadow-md">
        <div class='flex justify-between w-[90%] h-24 mx-auto align-middle relative special_menu-item' data-special_menu-title='<%= special_menu.name.downcase %>' data-special_menu-search-target="item">
            <p class='max-w-[75%] self-center flex flex-col gap-2 text-lg font-medium'>
                <%= truncate(special_menu.name, length: 30, separator: " ", omission: "...") %>
            </p>
            <p class='self-center'>
                <%= turbo_frame_tag "special_menu_active_#{special_menu.id}" do %>
                    <%= link_to "🔴", toggle_special_menu_path(special_menu_id: special_menu.id), class: "no-underline select-none text-xl", data: { turbo_method: :post } if !special_menu.active %>
                    <%= link_to "🟢", toggle_special_menu_path(special_menu_id: special_menu.id), class: "no-underline select-none text-xl", data: { turbo_method: :post } if special_menu.active %>
                <% end %>
            </p>
            <div class='absolute flex gap-2'>
                <%= button_to "Editar", edit_special_menu_path(special_menu), data: { turbo: false }, class: "dark:text-blue-200 text-xs font-thin text-blue-800 p-0", method: :get %>
                <%= button_to "Eliminar", special_menu_path(special_menu), data: { turbo_confirm: "Seguro que queres eliminar o producto?" }, class: "dark:text-red-200 text-xs font-thin text-red-800 p-0", method: :delete %>
            </div>

        </div>
        <div class="special_menu_products w-full border rounded border-grey mx-auto">
            <h3 class="text-center text-lg font-light m-2 rounded text-slate-600 dark:text-slate-200 bg-emerald-100/25 dark:bg-emerald-200/25">Platos</h3>
            <% special_menu.products.each do |product| %>
                <div class="flex justify-between w-[90%] h-24 mx-auto border-t align-middle relative product-item" data-product-title="<%= product.title.downcase %>" data-special_menu-search-target="item">
                    <p class="max-w-[75%] self-center flex flex-col gap-2 text-lg font-medium">
                        <%= truncate(product.title, length: 30, separator: " ", omission: "...") %>
                    </p>
                    <p class="self-center">
                        <%= turbo_frame_tag "product_active_#{product.id}" do %>
                            <%= link_to "🔴", toggle_active_path(product_id: product.id), class: "no-underline select-none text-xl", data: { turbo_method: :post } if !product.active %>
                            <%= link_to "🟢", toggle_active_path(product_id: product.id), class: "no-underline select-none text-xl", data: { turbo_method: :post } if product.active %>
                        <% end %>
                    </p>
                    <div class="absolute flex gap-2">
                        <%= button_to "Editar", edit_product_path(product), data: { turbo: false }, class: "dark:text-blue-200 text-xs font-thin text-blue-800 p-0", method: :get %>
                        <%= button_to "Eliminar", product_path(product), data: { turbo_confirm: "Seguro que queres eliminar o producto?" }, class: "dark:text-red-200 text-xs font-thin text-red-800 p-0", method: :delete %>
                    </div>
                </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
