<div data-controller='menu'>
    <% if current_user %>
    <button class="fixed z-30 right-5 top-4 rounded p-4 shadow-xl bg-slate-50 print:hidden" data-action="click->menu#toggle"><%= image_tag "menu.svg", width: 40, heigth: 40, class: "select-none" %></button>
    <div class="fixed bg-white top-0 right-0 shadow z-40 h-full flex flex-col min-w-[45%] md:min-w-[25%]  ease-in-out duration-300 p-5 translate-x-full " data-menu-target="items">
        <button class="mr-8 mb-3  select-none" data-action="click->menu#toggle"><%= image_tag "close.svg", width: 40, heigth: 40, class: "select-none" %></button>
        <%= render "/shared/items" %>
    </div>
    <% end %>
    <div class='flex justify-center p-4 gap-8 mt-5' id='logo-link' >
    <%= link_to "/#{Setting.root_page}", data: { controller: "install_pwa", action: "click->install-pwa#install" } do %>
        <%= image_tag "Navega_sinfondo.png", width: "115px", class: "" %>
    <% end %>
    </div>
</div>
