<div class="w-full max-w-2xl p-3" data-controller="product-search">
  <h1 class="font-thin text-4xl text-center mb-8 text-pretty"> Productos </h1>
  <div class="flex justify-center items-center align-middle gap-2 mb-6">
    <%= render "shared/add_button", path: new_product_path %>
    <input type="search" id="productSearch" placeholder="Buscar producto" data-product-search-target="search" data-action="input->product-search#search" class="bg-white focus:ring-blue-500 focus:border-blue-500 border border-gray-300 dark:text-gray-800 rounded-[3px] py-2 px-4 block w-full" />
    <%= link_to 'Menú', control_panel_path(filter: 'menu'), class: "p-2 #{@color[:menu]} text-white rounded-[3px]" %>
    <%= link_to 'Carta', control_panel_path(filter: 'carta'), class: "p-2 #{@color[:carta]} text-white rounded-[3px]" %>
  </div>
  <div id="productList">
    <% @products.each do |product| %>
        <%= turbo_stream_from product %>
        <%= render "control_panel_product", product: product %>
    <% end %>
  </div>
</div>
