<div class='w-full h-full max-w-lg mx-auto mb-20' data-controller="scroll-position" data-scroll-position="<%= session[:scroll_position] %>">
  <div class="sticky top-0 z-10 w-full bg-white" data-controller="category-menu" data-category-menu-target="menu">
    <div class="flex justify-center gap-8 py-4">
      <% @categories.each do |category| %>
        <%= link_to category.name, "#category-#{category.id}", class: "text-sm font-medium text-gray-700 hover:text-gray-900#{' text-indigo-500 font-bold' if params[:category_id].to_i == category.id}", data: { turbo_frame: "_top" } %>
      <% end %>
    </div>
  </div>
  <div class="space-y-4 p-3" data-scroll-position-target="scrollArea">
    <% @categories.each do |category| %>
      <% products = category.products.where(active: true) %>
      <% next if products.empty? %>
      <turbo-frame id="category-<%= category.id %>">
        <h2 class="text-2xl font-medium text-gray-900 mb-2 px-4"><%= category.name %></h2>
        <% products.each do |product| %>
          <%= link_to product, data: { turbo_frame: "_top" } do %>
            <div class='flex justify-between p-4 border-t animate__animated animate__fadeIn animate__fast'>
              <div class="title price flex flex-col max-w-[75%]">
                <p class='text-xl playfare font-medium'> <%= product.title %></p>
                <p class='font-light lato'><%= truncate(product.description, length: 75, separator: ' ', omission: '...') %></p>
                <small class='text-[8px] text-cyan-700 '>ver detalles</small>
              </div>
              <div class="text-xl self-center">
                <%= number_with_precision(product.prize, precision: 2, separator: ',') %><small class='text-black text-base font-extralight'>€</small>
              </div>
            </div>
          <% end %>
        <% end %>
      </turbo-frame>
    <% end %>
  </div>
</div>
