<div class='w-full h-full max-w-lg mx-auto mb-20'>
  <h1 class="text-4xl mb-12 font-thin text-center">A nosa carta</h1>
  <div class="relative inline-block text-left" data-controller="dropdown">
    <%= button_tag class: "inline-flex justify-center items-center px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-200 focus:outline-none", "data-action": "click->dropdown#toggle" do %>
      <%= content_tag :span, params[:category_id].present? ? Category.find(params[:category_id]).name : "Categorías" %>
      <%= content_tag :svg, class: "-mr-1 ml-2 h-5 w-5", xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 20 20", fill: "currentColor", "aria-hidden": true do %>
        <%= content_tag :path, "", fill_rule: "evenodd", d: "M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z", clip_rule: "evenodd" %>
      <% end %>
    <% end %>
    <div class="origin-top-right absolute left-0 mt-2 w-36 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden z-10" data-dropdown-target="menu">
      <div class="py-1">
        <% @categories.each do |category| %>
          <%= link_to category.name, products_path(category_id: category.id), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 text-center#{' font-bold text-indigo-500' if params[:category_id].to_i == category.id}" %>
        <% end %>
      </div>
    </div>
  </div>
  <% @products.each do |product| %>
    <%= link_to product do %>
      <div class='flex justify-between p-4 border-t animate__animated animate__fadeIn animate__slow'>
        <div class="title price flex flex-col max-w-[75%]">
          <p class='text-xl playfare font-medium'> <%= product.title %></p>
          <p class='font-light lato'><%= truncate(product.description, length: 75, separator: ' ', omission: '...') %></p>
          <small class='text-[8px] text-cyan-700 '>ver detalles</small>
        </div>
        <div class="text-xl self-center">
          <%= number_with_precision(product.prize, precision: 2, separator: ',') %><small class='text-black text-base font-extralight'>€</small>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
