<%= turbo_frame_tag :modal do %>
  <div data-controller='modal' id='product-modal' class="flex items-center fixed inset-0 z-20 modal-container h-screen" data-action="click->modal#close">
    <div class=" w-[95%] flex flex-col max-w-2xl mx-auto bg-white rounded-lg overflow-hidden shadow-xl animate__fadeIn animate__animated sm:flex-row sm:items-center sm:h-[280px]">
      <div class="w-full h-48 sm:h-full">
        <% if @product.picture.attached? %>
          <%= image_tag @product.picture,
                        class: "rounded-t-lg sm:rounded-none object-cover object-center w-full h-full sm:h-full sm:w-auto" %>
        <% else %>
          <%= image_tag "placeholder.jpg",
                        class: "rounded-t-lg sm:rounded-none object-cover object-center w-full h-full sm:h-full sm:w-auto" %>
        <% end %>
      </div>
      <div class="card__body h-full px-6 py-2 sm:max-w-[70%] flex flex-col justify-around">
        <div class="font-medium text-2xl mb-2 playfare"><%= @product.title %></div>
        <p class="text-gray-600 mb-2 lato break-words w-full"><%= @product.description %></p>
        <div class="flex justify-between items-center align-middle">
          <% unless @product.category.category_type == "menu" %>
            <div class="font-semibold text-xl block self-center"><%= number_to_currency(
                                                                     @product.prize,
                                                                     { unit: "€", separator: ",", format: "%n %u" }
                                                                   ) %></div>
          <% end %>
          <div class="flex items-center gap-1 alergenos">
            <% @product.allergens.each do |allergen| %>
              <span
                class="inline-block py-1 tooltip"
                data-controller="tooltip"
                data-action="click->tooltip#toggle"
                >
                <%= image_tag allergen.icon, width: "40px" %>
                <span class="tooltip-text shadow-xl" data-tooltip-target="text">
                  <%= allergen.name %>
                </span>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
