<%= turbo_frame_tag :modal do %>
  <div data-controller='modal' id='product-modal' >
    <div id='modal-container' data-action="click->modal#close" class="fixed z-30 w-full h-full top-0 left-0 bg-black bg-opacity-20"></div>
    <div class="fixed inset-0 z-40 overflow-hidden p-3">
      <%= image_tag "close2.png", width: "35px", data: { action: "click->modal#close" }, class: "animate__fadeIn animate__animated mx-auto mt-10 mb-2 sm:mt-0" %>
      <div class="max-w-lg mx-auto bg-white rounded-lg overflow-hidden shadow-xl mb-10 animate__fadeIn animate__animated sm:flex">
        <div class="w-full h-60 sm:h-auto">
          <% if @product.picture.attached? %>
            <%= image_tag @product.picture, class: "rounded-t-lg sm:rounded-none object-cover object-center w-full h-full sm:h-full sm:w-auto" %>
          <% else %>
            <%= image_tag "placeholder.jpg", class: "rounded-t-lg sm:rounded-none object-cover object-center w-full h-full sm:h-full sm:w-auto" %>
          <% end %>
        </div>
        <div class="px-6 py-2 max-h-[60%] sm:max-w-[70%]">
          <div class="font-medium text-2xl mb-2 playfare"><%= @product.title %></div>
          <p class="text-gray-600 mb-2 lato break-words w-full"><%= @product.description %></p>
          <div class="flex justify-between items-center align-middle">
            <div class="font-semibold text-xl block self-center"><%= number_to_currency(@product.prize, { unit: "€", separator: ",", format: "%n %u" }) %></div>
            <div class="flex items-center gap-1 alergenos">
              <% @product.allergens.each do |allergen| %>
                <span class="inline-block py-1 tooltip" data-controller="tooltip" data-action="click->tooltip#toggle">
                  <%= image_tag allergen.icon, width: "40px" %>
                  <span class="tooltip-text shadow-xl" data-tooltip-target="text">
                    <%= allergen.name %>
                  </span>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
