<%= turbo_frame_tag :modal do %>
  <div data-controller='modal' id='product-modal' class="flex items-center fixed inset-0 z-20 modal-container h-screen animate__fadeIn animate__animated" data-action="click->modal#close">
    <!-- CARD -->
    <div class="w-[95%] flex flex-col max-w-2xl sm:flex-row sm:items-center sm:h-[280px] mx-auto bg-white rounded-lg overflow-hidden shadow-xl dark:bg-gray-800 dark:shadow dark:shadow-slate-200/20">
      <!-- PICTURE -->
      <div class="w-full h-48 grow-0 sm:h-full sm:w-72 skeleton skeleton-dark" data-modal-target="skeleton">
          <%= image_tag @product.picture.attached? ? @product.picture : "placeholder.jpg", class: "rounded-t-lg sm:rounded-none object-cover object-center w-full h-full wait", data: { modal_target: "image" } %>
      </div>
      <!-- CARD BODY -->
      <div class="card__body h-full px-6 py-2 sm:max-w-[70%] flex flex-col justify-around">
        <div class="font-medium text-2xl mb-2 playfare skeleton skeleton-dark" data-modal-target="skeleton"><%= translate("product.#{@product.id}.title", @product.title) %></div>
        <p class="text-gray-600 mb-2 lato break-words w-full skeleton skeleton-dark dark:text-slate-300" data-modal-target="skeleton"><%= translate("product.#{@product.id}.description", @product.description) %></p>
        <div class="flex justify-between items-center align-middle">
          <% unless @product&.category&.category_type == "daily" %>
            <div class="font-semibold text-xl block self-center skeleton skeleton-dark" data-modal-target="skeleton">
              <%= number_with_precision(@product.prize, precision: 2, separator: ",") %>
              <small class='text-black font-extralight italic place-self-end text-sm dark:text-white'>
                <% if @product.per_kilo %>
                  €/Kg
                <% elsif @product.per_gram %>
                  €/100gr
                <% else %>
                  €
                <% end %>
              </small>
            </div>
          <% end %>
          <div class="flex items-center gap-1 alergenos skeleton skeleton-dark" data-modal-target="skeleton">
            <% @product.allergens.each do |allergen| %>
              <span class="inline-block py-1 tooltip" data-controller="tooltip" data-action="click->tooltip#toggle">
                <%= image_tag allergen.icon.variant(:thumb), data: { modal_target: "image" }, class: "w-8 h-8 opacity-70" %>
                <span class="tooltip-text shadow-xl" data-tooltip-target="text">
                  <%= allergen.name %>
                </span>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
