<div data-controller="toggle-price-per-glass description" class="w-full ">
  <h1 class="font-thin text-4xl text-center"><%= message %></h1>
  <%= form_with(model: wine, data: { turbo: false }, class: "shadow-lg rounded-[3px] px-8 pt-6 pb-8 mb-8") do |f| %>
    <% if @wine.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-[3px]mb-8">
        <h2 class='font-bold mb-2'><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>
        <ul class="list-disc ml-5">
          <% @wine.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-8">
      <%= f.label :name, "Nombre", class: "block text-gray-700 font-bold mb-2 dark:text-gray-200" %>
      <%= f.text_field :name,
        class: "dark:text-gray-800 mt-1 block w-full rounded-[3px] border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
        data: { description_target: 'input'} %>
    </div>
      <div class="mb-8" >
      <%= f.label :description, "Descripci贸n", class: "block text-gray-700 font-bold mb-2 dark:text-gray-200" %>
      <%= f.text_area :description,
        class: "dark:text-gray-800 form-textarea mt-1 block w-full rounded-[3px] border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
        rows: 8,
        maxlength: 350,
        data: { description_target: 'output' } %>
    </div>
    <div class="mb-8" data-controller="file-input">
      <%= f.label :image, "Foto", class: "block text-gray-700 font-bold mb-2 dark:text-gray-200" %>
      <div class="relative">
        <div class="flex items-center justify-between bg-white border border-gray-300 rounded-[3px] px-4 py-2 w-full">
          <span data-file-input-target="fileName" class="text-gray-400">Seleccione un archivo</span>
          <button type="button" class="text-blue-500">Examinar</button>
        </div>
        <%= f.file_field :image, class: "dark:text-gray-800 absolute inset-0 opacity-0 cursor-pointer w-full h-full", data: { action: "change->file-input#updateFileName", file_input_target: "fileInput" } %>
      </div>
    </div>
    <div class="mb-8">
      <%= f.label :wine_type, "Tipo de vino", class: "block text-gray-700 font-bold mb-2 dark:text-gray-200" %>
      <%= f.select :wine_type, [["Tinto", "Tinto"], ["Blanco", "Blanco"]],
        { prompt: "Selecciona un tipo de vino" },
        class: "dark:text-gray-800 form-select mt-1 block w-full rounded-[3px] border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>
    <div class="mb-8">
      <%= f.label :wine_origin_denomination_id, "Denominaci贸n de origen", class: "block text-gray-700 font-bold mb-2 dark:text-gray-200" %>
      <%= f.collection_select :wine_origin_denomination_id, WineOriginDenomination.all, :id, :name, {prompt: "Selecciona una denominaci贸n de origen"}, {class: "dark:text-gray-800 form-select mt-1 block rounded-[3px] border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-full"} %>
    </div>
    <div class="mb-8">
      <%= f.label :price, "Precio", class: "block text-gray-700 font-bold mb-2 dark:text-gray-200" %>
      <%= f.number_field :price, step: :any, class: "dark:text-gray-800 mt-1 block w-full rounded-[3px] border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>
    <div class="mb-8 flex items-center gap-4">
      <div for="por-copa" class="dark:text-gray-200 text-gray-700 font-bold">驴Dispo帽ible por copa? </div>
      <input type="checkbox" id="por-copa" class="form-checkbox rounded-[3px]" data-action="change->toggle-price-per-glass#toggle">
    </div>
    <div class="mb-8 hidden" data-toggle-price-per-glass-target="pricePerGlassField">
      <%= f.label :price_per_glass, "Precio por copa (opcional)", class: "block text-gray-700 font-bold mb-2 dark:text-gray-200" %>
      <%= f.number_field :price_per_glass, step: :any, class: "dark:text-gray-800 mt-1 block w-full rounded-[3px] border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", data: {toggle_price_per_glass_target: "input"} %>
    </div>

    <div class="flex flex-wrap items-center gap-1 justify-between">
      <%= f.submit "Guardar", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-[3px] focus:outline-none focus:shadow-outline-blue focus:ring ring-blue-300 focus:border-blue-300 active:bg-blue-800" %>
      <button data-action="click->description#describeWine" class="w-full bg-purple-800 hover:bg-purple-950 text-white font-bold py-2 px-4 rounded-[3px] focus:outline-none focus:shadow-outline-blue focus:ring ring-blue-300 focus:border-blue-300 active:bg-blue-800">
        <span data-description-target="buttonText">Xerar descripci贸n</span>
        <span data-description-target="spinner" class="hidden flex items-center justify-center space-x-2">
          <svg aria-hidden="true" role="status" class="inline w-6 h-6 mr-1 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
          </svg>
          <span class="text-base">Consultando ao or谩culo...</span>
        </span>
      </button>
    </div>
  <% end %>
</div>
