<%= turbo_frame_tag :modal do %>
  <div data-controller='modal' id='product-modal' class="flex justify-center align-middle items-center fixed inset-0 z-20 modal-container" data-action="click->modal#close">
    <div class=" w-[95%] flex flex-col max-w-2xl mx-auto bg-white rounded-lg overflow-hidden shadow-xl animate__fadeIn animate__animated sm:flex-row sm:items-center sm:h-[280px]">
      <div class="w-full h-48 sm:h-full">
        <%= image_tag(@wine.image.attached? ? @wine.image : "wine-placeholder.webp", class: "rounded-t-lg sm:rounded-none object-cover object-center w-full h-full sm:h-full sm:w-auto") %>
      </div>
      <div class="card__body h-full px-6 py-2 sm:max-w-[70%] flex flex-col justify-around">
        <div class="font-bold text-2xl mb-2 playfare balance"><%= @wine.name %></div>
        <p class="text-gray-700 mb-4 lato w-full text-start break-words balance"><%= translate("wine.#{@wine.id}.description", @wine.description) %></p>
        <div class="flex justify-between items-center align-middle">
          <div class="font-semibold text-xl block self-center"><%= number_to_currency(@wine.price, { unit: "€", separator: ",", format: "%n %u" }) %></div>
          <% if @wine.price_per_glass %>
            <div>
              <label class='text-sm font-thin' for="per_glass"> <%= translate("copa", "Dispoñible por copa" ) %>:</label>
              <p class="text-gray-700 mb-4 lato font-light" id='per_glass'><%= number_to_currency(@wine.price_per_glass, { unit: "€", separator: ",", format: "%n %u" }) %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
