<!DOCTYPE html>
<html>
  <head>
    <title>CartaQr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'shared/flash' %>
    <div>
      <%= link_to root_path do %>
        <%= image_tag 'Navega.png', width: "175px", class: 'm-auto p-2 mt-5' %>
      <% end %>
    </div>
    <main class="container mx-auto mt-6 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
