<!DOCTYPE html>
<html>
  <head>
    <title>Taberna Navegación</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, orientation=portrait">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "Navega_sinfondo.png" %>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body class="flex flex-col w-auto h-full justify-center mt-0 main-content">
    <div class="flex justify-center">
      <%= render "shared/flash" %>
    </div>
    <%= render "shared/menu" %>
    <main class="w-full mb-4 flex justify-center">
      <%= yield %>
      <%= render "shared/card_menu_switch" %>
    </main>
    <%= render "shared/info" %>
  </body>
</html>
